@import '../Components/Landing/landing.scss';

body{
    height: 100%;
    .f-cont{
        background-color: rgb(240, 240, 240);
        display: flex;
        height: 100vh;
        justify-content: center;
        align-items: center;
        width: 100vw;

        .form-container{
            height: 300px;
            width: 370px;
            background-color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 0;

            .f{
            width: 320px;
            }

            .b{
                width: 100%;
            }
            a{
                color:white;
                text-decoration: none;
            }
            .err{
                color: rgb(214, 2, 2);
                font-size: small;
            }
            

        }
    }
}